body {
  background-color: blue;
    position: relative;
  text-align: center;
}
article {
  background-color: gray;
  text-align: center;
height: 10em;
    position: relative ;
}  
span {
  text-align: center;
  background-color: gray;
  width: 33%;
      margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}  
p {
  text-align: center;
  background-color: gray;
  text-align: center;
  width: 33%;
      margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 10em;
    position: relative;
}

img {
  text-align: center;
  width: 33%;
  length: 33%;
  float: left;
}

.circular {
  border-radius: 100%;
}
