body {
  background-color: gray;
  text-align: center;
  alignment: center;
  position: center;
  width: 600px;
}

img {
  width: 33%;
  length: 33%;
  float: left;
}

.circular {
  border-radius: 100%;
}
